*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.icon {
      display:inline-block;
      margin-top: 5px;
      margin-left: 55px;
}
 .bu {
   display: flex;
    margin-left: 20%;
    margin-bottom: 5%;
    display: inline-block;
    vertical-align: middle;
     word-spacing: 35px;
     font-size:large;
     font-weight: bold;
    
 }
 .text{
    display: flex;
    margin-left: 29%;
    margin-bottom: 5%;
    display: inline-block;
    vertical-align: middle;
}

a{
    text-decoration: none;
    color: black;
}

.main, .logo{
    display: inline-block;
    vertical-align: middle;
}
.main{
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 4%;
    width: 40%;
    justify-content: left;
}
.logo{
    padding: 0 60px 0 60px;
    margin-top: 50px;
}
.gogo{
    width:40vw;
    height:45vh;
}
.ser{
    color:dodgerblue;
}
.but{
   color: white;
   width: 10px;
   height: 10px; 
}
.pa{
     background-color: dodgerblue;
    height: 60px;
    border-radius: 10px;
    padding: 0 70px;
    margin-left: 5%;
}
@media(max-width: 560px ){
        .icon{
             margin-left: 45%;
        }
        .bu{
            display: flex;
            justify-content: left;
            text-align: left;
            align-items: left;
            align-content: center;
            margin-left: 15%;
        
        }
        .tip{
            margin-left: 3px;
            margin-right: 3px;
        }
        
        .text{
            text-align: left;
            align-items: left;
            align-content: center;
            margin-left: 35%;
        }
        .main{
            width: 80vw;
            text-align: justify;
            margin-left:15%;
        }
        h1{
            margin-left: 12%;
            font-size:large;
        }
        .gogo{
           width:76vw;
           vertical-align: middle;
           margin-left: 2%;
        }
        .pa{
            margin-left: 18%;
            width: 280px;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
}




















